<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">{{ item?.titulo }}</h4>
    </div>
    <div class="card-body">
      <img src="{{ item?.imagem }}" class="img-fluid" />
      <h1 class="card-title pricing-card-title text-success">
        R${{ item?.valor }}<small class="text-muted fw-light"></small>
      </h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{{ item?.descricao }}</li>
      </ul>
      <button
        type="button"
        class="w-100 btn btn-lg btn-outline-success"
        (click)="alertaAdicionado()"
        (click)="adicionarAoPedido()"
      >
        Adicionar ao pedido
      </button>

      <div class="row">
        <div class="col">
          <button class="btn mb-0 text-success" (click)="diminuirQuantidade()">
            -</button
          >{{ quantidade }}
          <button class="btn mb-0 text-success" (click)="aumentarQuantidade()">
            +
          </button>
        </div>
        <button
          type="button"
          class="w-500 btn btn-lg btn-outline-success"
          (click)="alertaAdicionado()"
          (click)="adicionaritensAoPedido()"
        >
          Adicionar {{ quantidade }} unidades ao Pedido
        </button>
      </div>
    </div>
  </div>
</div>
