<nav
  class="flex-md-row align-items-center navbar fixed navbar-dark bg-success mb-3"
  aria-label="Main navigation"
>
  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar me-auto mb-2 mb-lg-0 nav fill p-0">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          routerLinkActive="active"
          routerLink=""
        >
          <img
            src="assets/logoNgFood.png "
            class="img-fluid"
            width="80em"
            height="80em"
        /></a>
      </li>
      <li class="nav-item">
        <a
          class="navbar-brand titulo"
          aria-current="page"
          routerLinkActive="active"
          routerLink=""
        >
          Nature gift - Food</a
        >
      </li>
      <li class="nav-item">
        <a
          class="navbar-brand"
          aria-current="page"
          routerLinkActive="active"
          routerLink=""
        >
          Cardápio</a
        >
        <a
          class="navbar-brand"
          aria-current="page"
          routerLinkActive="active"
          routerLink="/Pedido"
          ><span class="badge badge-pill btn-primary bg-danger"
            >{{ buscarTotalItem() }}
          </span>
          Pedido</a
        >
      </li>
    </ul>
  </div>
</nav>
