<nav
  class="navbar navbar-expand-lg fixed navbar-dark bg-success mb-3"
  aria-label="Main navigation"
>
  <div class="container-fluid">
    <img
      src="assets/logoNgFood.png "
      class="img-fluid b-2"
      width="50em"
      height="50em"
    />
    <a class="navbar-brand" aria-current="page" routerLink=""> Ng-Food</a>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
            >Cardápio</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
